body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.phone {
    background-color: #000;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    width: 360px;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.screen {
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 330px;
    height: 540px;
    position: absolute;
    top: 30px;
    left: 15px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container label {
    margin-bottom: 5px;
    color: #333;
}

.form-container input, .form-container button {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container input:focus {
    border-color: #28a745;
    outline: none;
}

.form-container button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #28a745;
}

.android-buttons {
    display: flex;
    justify-content: space-around;
    width: 100px;
    margin: 0 auto;
    padding-top: 10px;
}
.create-event {
    margin-top: 20px;
    text-align: center;
}

.create-event a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.create-event a:hover {
    background-color: #28a745;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    text-decoration: none;
    color: #000;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
    background-color: #e0e0e0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
